.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  background: linear-gradient(90deg, #baa3f3, #d6c8f3, #f4e4ff);
}

.content-container {
  background-color: #ffffff;
  /* max-width: 1000px; */
  width: 100%;
  /* padding: 20px; */
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1, h2 {
  margin-bottom: 20px;
  color: #333;
}

p, li {
  color: #555;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}